* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERICS */

/* generics flex */

.d-flex {
    display: flex;
}

.j-center {
    justify-content: center;
}

.nowrap {
    flex-wrap: nowrap;
}

/* text align */

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* background color */

.bg-golden {
    background-color: goldenrod;
}

.bg-aqua {
    background-color: aqua;
}

.bg-blue {
    background-color: blue;
}

.bg-pink {
    background-color: pink;
}

.bg-white {
    background-color: white;
}

.bg-azure {
    background-color: rgb(41, 190, 190);
}

.bg-gray {
    background-color: gray;
}

.bg-green {
    background-color: green;
}

.bg-black {
    background-color: black;
}

/* margin e padding */

.m-autocenter {
    margin: 0 auto;
}

.p-xs {
    padding: 8px;
}

.psmall-top-bottom {
    padding: 15px 0;
}

.pmedium-top-bottom {
    padding: 30px 0;
}

.plarge-top-bottom {
    padding: 40px 0;
}

/* borders */

.border-dash {
    border: 1px dashed black;
}

/* containers and sizes */

.container {
    width: 1090px;
}

.container-xxl {
    width: 100%;
}

.container-l {
    width: 70%;
}

.container-m {
    width: 65%;
}

.container-s {
    width: 35%;
}

.container-xs {
    width: 30%;
}

.container-xxs {
    width: 25%;
}

.h-medium {
    height: 400px;
}

.h-large {
    height: 550px;
}

/* NAVBAR */

header .logo {
    width: 20%;
}

.nav {
    width: 60%;
}

.login {
    width: 20%;
}

.nav-link {
    color: black;
    padding: 3px 5px;
    text-decoration: none;
    transition: 0.5s;
    border: 1px solid goldenrod;
}

.nav-link:hover{
    color: blue;
    border: 1px solid blue;
}

/* SPLASHSCREEN */

.sub-container {
    width: 800px;
}

/* MAIN CONTENT */

/* FOOTER */

footer .logo {

}

footer .btn {

}