/* CSS properties */

:root {
    /* Spaziature */
    --space-1px: 1px;
    --space-xxs: 5px;
    --space-xs: 10px;
    --space-s: 15px;
    --space-m: 20px;
    --space-l: 25px;
    --space-xl: 30px;
    --space-xxl: 35px;
    --space-3xl: 40px;
    /* Spaziature top bottom*/
    --space-tb-1px: 1px 0;
    --space-tb-xxs: 5px 0;
    --space-tb-xs: 10px 0;
    --space-tb-s: 15px 0;
    --space-tb-m: 20px 0;
    --space-tb-l: 25px 0;
    --space-tb-xl: 30px 0;
    --space-tb-xxl: 35px 0;
    --space-tb-3xl: 40px 0;
    /* Spaziature left right*/
    --space-lr-1px: 0 1px;
    --space-lr-xxs: 0 5px;
    --space-lr-xs: 0 10px;
    --space-lr-s: 0 15px;
    --space-lr-m: 0 20px;
    --space-lr-l: 0 25px;
    --space-lr-xl: 0 30px;
    --space-lr-xxl: 0 35px;
    --space-lr-3xl: 0 40px;
    /* Spaziature top*/
    --space-t-1px: 1px 0 0 0;
    --space-t-xxs: 5px 0 0 0;
    --space-t-xs: 10px 0 0 0;
    --space-t-s: 15px 0 0 0;
    --space-t-m: 20px 0 0 0;
    --space-t-l: 25px 0 0 0;
    --space-t-xl: 30px 0 0 0;
    --space-t-xxl: 35px 0 0 0;
    --space-t-3xl: 40px 0 0 0;
    /* Spaziature bottom*/
    --space-b-1px: 0 0 1px 0;
    --space-b-xxs: 0 0 5px 0;
    --space-b-xs: 0 0 10px 0;
    --space-b-s: 0 0 15px 0;
    --space-b-m: 0 0 20px 0;
    --space-b-l: 0 0 25px 0;
    --space-b-xl: 0 0 30px 0;
    --space-b-xxl: 0 0 35px 0;
    --space-b-3xl: 0 0 40px 0;
    /* Spaziature right*/
    --space-r-1px: 0 1px 0 0;
    --space-r-xxs: 0 5px 0 0;
    --space-r-xs: 0 10px 0 0;
    --space-r-s: 0 15px 0 0;
    --space-r-m: 0 20px 0 0;
    --space-r-l: 0 25px 0 0;
    --space-r-xl: 0 30px 0 0;
    --space-r-xxl: 0 35px 0 0;
    --space-r-3xl: 0 40px 0 0;
    /* Spaziature left*/
    --space-l-1px: 0 0 0 1px;
    --space-l-xxs: 0 0 0 5px;
    --space-l-xs: 0 0 0 10px;
    --space-l-s: 0 0 0 15px;
    --space-l-m: 0 0 0 20px;
    --space-l-l: 0 0 0 25px;
    --space-l-xl: 0 0 0 30px;
    --space-l-xxl: 0 0 0 35px;
    --space-l-3xl: 0 0 0 40px;
    /* Margin */
    --m-center: 0 auto;
    /* Background color */
    --bg1: goldenrod;
    --bg2: aqua;
    --bg3: blue;
    --bg4: pink;
    --bg5: white;
    --bg6: rgb(41, 190, 190);
    --bg7: gray;
    --bg8: green;
    --bg9: black;
    /* Width */
    --width-maincontainer-1080p: 1090px; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERICS */

/* generics flex */

.d-flex {
    display: flex;
}

.j-center {
    justify-content: center;
}

.j-between {
    justify-content: space-between;
}

.nowrap {
    flex-wrap: nowrap;
}

/* text align */

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* background color */

.bg-golden {
    background-color: var(--bg1);
}

.bg-2 {
    background-color: var(--bg2);
}

.bg-blue {
    background-color: var(--bg3);
}

.bg-pink {
    background-color: var(--bg4);
}

.bg-white {
    background-color: var(--bg5);
}

.bg-azure {
    background-color: var(--bg6);
}

.bg-gray {
    background-color: var(--bg7);
}

.bg-green {
    background-color: var(--bg8);
}

.bg-black {
    background-color: var(--bg9);
}

/* margin e padding */

/* Margin */

.m-autocenter {
    margin: var(--m-center);
}

.margin-b-min {
    margin: var(--space-b-1px);
}

/* Padding */

.padding-xs {
    padding: var(--space-xs);
}

.padding-tp-xs{
    padding: var(--space-tb-xs);
}

.padding-tp-s {
    padding: var(--space-tb-s);
}

.padding-tp-xl {
    padding: var(--space-tb-xl);
}

.padding-tp-3xl {
    padding: var(--space-tb-3xl);
}

/* borders */

.border-dash {
    border: 1px dashed black;
}

/* containers and sizes */

.container {
    width: var(--width-maincontainer-1080p);
}

.container-xxl {
    width: 100%;
}

.container-l {
    width: 70%;
}

.container-m {
    width: 65%;
}

.container-s {
    width: 35%;
}

.container-xs {
    width: 30%;
}

.container-xxs {
    width: 25%;
}

.h-medium {
    height: 400px;
}

.h-large {
    height: 550px;
}

/* NAVBAR */

header .logo {
    width: 20%;
}

.nav {
    width: 60%;
}

.login {
    width: 20%;
}

.nav-link {
    color: black;
    padding: 3px 5px;
    text-decoration: none;
    transition: 0.5s;
    border: 1px solid goldenrod;
}

.nav-link:hover{
    color: blue;
    border: 1px solid blue;
}

/* SPLASHSCREEN */

.sub-container {
    width: 800px;
}

/* MAIN CONTENT */

/* FOOTER */

footer .padding-xs {
    padding: 3px 5px;
}

.btn>button {
    transition: 0.5s;
}

.btn>button:hover {
    background-color: brown;
    color: white;
    border: 1px solid black;
}